.card {
  background: black;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  cursor: pointer;
  border-width: 3px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to bottom, 
      red, 
      rgba(0, 0, 0, 0)
    ) 1 100%;
}


.title {
  font-weight: 900;
  text-align: center;
  font-size: 20px;
}
.body-text {
  padding: 20px;
  font-size: 15px;
}

.list-rank{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    margin-top: 50px;
    font-size: 20px;
   
}

.wrapper{
  width: 90%;
}

.val-images{
  img {
    width: 100%;
  }

}
collapse{
  margin-bottom: 30px;
}

.col{
  padding: 60px;
  font-family: 'Montserrat';
}

.learn{
  background-color: #f54949;
  border-color: black;
  font-family: 'Montserrat';
}

.ranks{
  display: block;
  margin: auto;
}