<body>
<div style="min-height: 120px;"></div>


<div class = "img-title">
    <img src = "../../assets/STATS.png">
</div>
<div class = "list-rank container">
<div class="card" onclick="this.classList.toggle('expanded')">
    <img src = "../../assets/iron.png">
    <div class="text1">
    <div class="text-content">
      <h1 class="title">IRON</h1>
      <div class="body-text">Stats for Iron Players</div>
    </div>
  </div>

</div>
<div class="card" onclick="this.classList.toggle('expanded')">
    <img src = "../../assets/bronze.png">
  <div class="text2">
    <div class="text-content">
      <h1 class="title">BRONZE</h1>
      <div class="body-text">Stats for Bronze Players</div>
    </div>
  </div>
</div>
<div class="card" onclick="this.classList.toggle('expanded')">
    <img src = "../../assets/silver.png">
  <div class="text2">
    <div class="text-content">
      <h1 class="title">SILVER</h1>
      <div class="body-text">Stats for Silver Players</div>
    </div>
  </div>
</div>
<div class="card" onclick="this.classList.toggle('expanded')">
    <img src = "../../assets/gold.png">
  <div class="text2">
    <div class="text-content">
      <h1 class="title">GOLD</h1>
      <div class="body-text">Stats for Gold Players</div>
    </div>
  </div>
</div>
<div class="card" onclick="this.classList.toggle('expanded')">
    <img src = "../../assets/platinum.png">
  <div class="text2">
    <div class="text-content">
      <h1 class="title">PLATNIUM</h1>
      <div class="body-text">Stats for Platinum Players</div>
    </div>
  </div>
</div>
<div class="card" onclick="this.classList.toggle('expanded')">
    <img src = "../../assets/diamond.png">
  <div class="text2">
    <div class="text-content">
      <h1 class="title">DIAMOND</h1>
      <div class="body-text">Stats for Diamond Players</div>
    </div>
  </div>
</div>
<div class="card" onclick="this.classList.toggle('expanded')">
    <img src = "../../assets/immortal.png">
  <div class="text2">
    <div class="text-content">
      <h1 class="title">IMMORTAL</h1>
      <div class="body-text">Stats for Immortal Players</div>
    </div>
  </div>
</div>
<div class="card" onclick="this.classList.toggle('expanded')">
    <img src = "../../assets/radiant.png">
  <div class="text2">
    <div class="text-content">
      <h1 class="title">RADIANT</h1>
      <div class="body-text">Stats for Radiant Players</div>
    </div>
  </div>
</div>
</div>

</body>