.card {
  background: black;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  cursor: pointer;
  border-width: 3px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to bottom, 
      red, 
      rgba(0, 0, 0, 0)
    ) 1 100%;
}
.learn-btn{
  background-color: #f54949;
  border-color: black;
  font-family: 'Montserrat';
  color: white;
}
.rank-mod{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    margin-top: 50px;
    font-size: 20px;
}
.val-images{
  img {
    width: 100%;
  }
}
.col{
  padding: 60px;
  font-family: 'Montserrat';
}
.text-content{
  h1{
    text-align: center;
  }
  img{
    width: 60%;
    margin: auto;
    display: block;
  }
}
ul{
  list-style-type: none;
    
}
.rank-list-card{
  width: 90%;
  height: 50px;
  font-size: 18px;
  text-align: center;
  background-color: white;
  color: black;
  padding: 10px;
  margin: 30px;
}
