 <div style="min-height: 120px;"></div>

 <div class="container">
  <div class="about-container">
    <div class="about-text">
    <h1>We Need Your Time</h1>
    
    <p>If you're a gamer yourself, you know that it takes a lot of your time. You may find it surprising when you see these interesting statistics from different types of games.  It shows that people actually put in the time to play games, so why not use that time to contribute to charity as well?</p>
    </div>
  </div>
 </div>

  <div class = "rank-mod container">
  <div class="card">
    <div class = "val-images"><img src = "../../assets/games/valorant/valorant.jpg"></div>
    <button class = "learn-btn btn" data-toggle="collapse" data-target="#content">Learn More</button>

    <div class = "collapse" id="content">

      <div class="text-content">
        <h1>VALORANT</h1>
        
        <p> VALORANT has a ranking system which is separated into eight tiers. 
         Starting with Iron and ending with
           Radiant. All tiers except Radiant and Immortal have three sub-ranks within them, 
           with rank one the lowest and rank three the highest. All of these ranks have different playstyles
          aswell as how long they play the game for.  
        </p>
        <img src="../../assets/games/valorant/ranking.png" alt="Snow" class = "val-rank-img">
      </div>
      <div class="get-rank-list">
        <ul *ngFor="let user of userList"> 
          <li>
              <div class="rank-list-card">
                <p>Rank: {{ user.rank }} | 
                  Distribution: {{ user.percentile }} | 
                  Avg Hrs/Day: {{ user.avgHrs }}hrs | 
                  Win Rate: {{ user.winsPerMatches }}
                </p>
                <p></p>
                <p></p>
                <p></p>
              </div>
          </li>
        </ul>
      </div>
         
      <!-- <div class = "row">
        <div class = "col">
          <h2> Ranking Statistics</h2>
          <input type="text" placeholder="Iron, Bronze, Silver etc..">
        </div>
        <div class = "col">
          <h2> Include Your Account</h2>
          <input type="text" placeholder="Riot ID">
        </div>
      </div> -->
        
    </div>

  </div>
  </div>