 <div style="min-height: 70px;"></div>
  
  <div class = "list-rank container">
 <div class = "wrapper">
  <div class="card">
    <div class = "val-images"><img src = "../../assets/games/valorant/valorant.jpg"></div>
    <button class = "learn btn btn-primary" data-toggle="collapse" data-target="#content">Learn More</button>

    <div class = "collapse" id="content">

      <div class="text1">
      <div class="text-content">
        <h1 class="title">VALORANT</h1>
        
        <div class="body-text"> VALORANT has a ranking system which is separated into eight tiers. 
         Starting with Iron and ending with
           Radiant. All tiers except Radiant and Immortal have three sub-ranks within them, 
           with rank one the lowest and rank three the highest. All of these ranks have different playstyles
          aswell as how long they play the game for.  </div>
      </div>
          <img src="../../assets/games/valorant/ranking.png" alt="Snow" style="width:70%" class = "ranks">
     
      <div class = "row">
        <div class = "col">
          <h2> Ranking Statistics</h2>
          <input type="text" placeholder="Iron, Bronze, Silver etc..">
        </div>
        <div class = "col">
          <h2> Include Your Account</h2>
          <input type="text" placeholder="Riot ID">
        </div>
      </div>
    </div>
    </div>

  </div>
  </div>

  </div>

  <div class = "list-rank container">
    <div class = "wrapper">
     <div class="card">
       <div class = "val-images"><img src = "../../assets/games/valorant/valorant.jpg"></div>
       <button class = "learn btn btn-primary" data-toggle="collapse" data-target="#content">Learn More</button>
   
       <div class = "collapse" id="content">
   
         <div class="text1">
         <div class="text-content">
           <h1 class="title">VALORANT</h1>
           
           <div class="body-text"> VALORANT has a ranking system which is separated into eight tiers. 
            Starting with Iron and ending with
              Radiant. All tiers except Radiant and Immortal have three sub-ranks within them, 
              with rank one the lowest and rank three the highest. All of these ranks have different playstyles
             aswell as how long they play the game for.  </div>
         </div>
             <img src="../../assets/games/valorant/ranking.png" alt="Snow" style="width:70%" class = "ranks">
        
         <div class = "row">
           <div class = "col">
             <h2> Ranking Statistics</h2>
             <input type="text" placeholder="Iron, Bronze, Silver etc..">
           </div>
           <div class = "col">
             <h2> Include Your Account</h2>
             <input type="text" placeholder="Riot ID">
           </div>
         </div>
       </div>
       </div>
   
     </div>
     </div>
   
     </div>