$border-radius-size: 14px;
$red: #f54949;

.container{
  color: black;
}

.about-container{
	width: 100%;
	background:#fff;
  color: #000;
	box-shadow:2px 2px 12px rgba(0,0,0,0.2);
	display: flex;
  padding: 1%;
  padding-bottom: 30px;
	align-items: center;
  justify-content: center;
    .about-text{
        width: 80%;
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
        justify-content: center;
        img{
            width: 100%;
        }
    }
}
// universal properties
.game-card {
  background: white;
  width: 400px;
  min-height: 700px;
  max-height: 700px;
  display: block;
  float: left;
  border-radius: $border-radius-size;
  text-align: center;
  box-shadow: -1px 15px 30px -12px black;
  margin: 100px 50px;
}
.card-bg {
  height: 230px;
  margin-bottom: 35px;
  border-top-left-radius: $border-radius-size;
  border-top-right-radius: $border-radius-size;
}

// Background Image (Head of Card)
.card-bg{
  background:  url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/archer-bg.jpg');
  background-size: cover;
  text-align: center;
  justify-content: center;
  img {
    width: 300px;
  }
}

// Body of Card
.card-title {
  font-size: 26px;
  color: black;
  font-weight: 900;
  margin-bottom: 5px;
}
.card-description {
  padding: 20px;
  color: black;
}

// Footer of Card
.card-stats {
  background-color: $red !important;
  color: white;
  font-weight: 700;
  border-bottom-left-radius: $border-radius-size;
  border-bottom-right-radius: $border-radius-size;
  display: flex;
  min-height: 100px;
  .one-third {
    background-color: $red;
    border-right: 1px solid black;
    width: 33%;
    float: left;
    padding: 20px 15px;
  }  
  .stat-name {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
  }
  .stat-value {
    color: pink;
    position: relative;
    font-size: 12px;
    margin-bottom: 10px;
  }
  .left-third  {
    border-bottom-left-radius: $border-radius-size;
  }
  .right-third {
    border-right: none;
    border-bottom-right-radius: $border-radius-size;
  }
}