<h1>Games that Support Charities! 
</h1>

<ul>
    <div class = "contanier">
        <p>VALORANT&reg; is a 5v5 tactical shooter created by developer Riot Games.
            This game hosts many tournaments in which pros can play in order to
            fundraise as much money as they can for charity. You yourself can participate
            in one of these tournaments by progressively ranking the VALORANT leaderboard in the 
            Competetive scene and be able to give back to your community by playing this game. </p>
        </div>
    <div class = "container"> 
        <p>Super Smash Bros. is a fighting game developed by Nintendo&reg;. SSB has long had a tight-knit community, 
            and a recent charity endeavor put that to work for a good cause. 
            The #SmashTheRecord event began just last year, when player Jason 
            “Gahtzu” Diehl worked with two Florida gaming groups to raise money
             for charity by breaking the world record for 
             “Longest Video Games Marathon Playing a Fighting Game.”
              That 72-hour marathon netted $14,000 for St. Jude’s Children’s 
              Research Hospital. If you're good at Smash Bros, why not use this opportunity
            to play for charity?</p>
   </div>

   <div class = "container"> <p>Fortnite is a 100 player Battle Royale game developed by Epic Games.Fortnite has many opportunities to play for the cause of charity. Many different organizations
    such as Cure Rare Disease &reg;.If you think you're good enough to compete in these
    tournaments to gain money yourself and also for charity, why not give it a go? Through lots of practice,
    Fortnite gamers who are passionate about helping their community may be able to sign up for these
    kinds of tournaments.
         </p>
    </div>
   
    <div class = "container">
        
        <p>Minecraft is a sandbox video game developed by Mojang. With the level of creativity you can do
        for anything in this game, comes with more opportunities. In minecraft, you can make builds, join PVP
       tournaments, buy cosmetics from multiplayer servers, and much more for the cause of supporting charities
   that matter.</p>  

</div>
   
<div class = "container">
<p>Mario Kart is a series of go-kart-style racing video games developed and published by Nintendo.
    Many people are good at racing at Mario Kart, and if you think you have what it takes to challenge them
    during a charity race, then go for it! You'll have the chance to show off your cool drifting skills and 
    end up at the top!
</p>
</div>
</ul>