<div style="min-height: 120px;"></div>

<div class="container">
  <div class="about-container">
    <div class="about-text">
    <h1>Gaming For Everyone</h1>
    
    <p>There are various types of games that you can play in order to contribute to charity. There's always something for everyone! Below, you may find your favorite game that you play regularly that actually helps out in charity. If you have any more suggestions about games to add to Gameity, feel  free to contact us!</p> 
    </div>
  </div>
</div>

<div class="container">
    <div class="game-card">
      <div class="card-bg">
        <img src="../../assets/games/valorant/val-team.png" style="width: 270px; height: 240px;" alt="valorant-team" />
      </div>
      
      <div class="card-title">Valorant</div>
        <div class="card-description">
           VALORANT® is a 5v5 tactical shooter created by developer Riot Games. This game hosts many tournaments in which pros can play in order to fundraise as much money as they can for charity. You yourself can participate in one of these tournaments by progressively ranking the VALORANT leaderboard in the Competetive scene and be able to give back to your community by playing this game.
        </div>
        <div style="height: 60px;"></div>
      <div class="card-stats">
        <div class="one-third left-third ">
          <div class="stat-name">Platforms</div>
          <div class="stat-value">Microsoft Windows</div>   
        </div>
        <div class="one-third">
          <div class="stat-name">Age Requirement</div>
          <div class="stat-value">16</div>
        </div>

        <div class="one-third right-third">
          <div class="stat-name">Type</div>
          <div class="stat-value">Multiplayer Tactical First-Person Hero Shooter</div>
        </div>
      </div>
    </div> <!-- end of card-->



    <div class="game-card">
      <div class="card-bg">
        <img src="../../assets/games/super-smashbros/supersmash-team.png" style="width: 390px; height: 250px;" alt="supersmash-team" />
      </div>
      <div class="card-title">SuperSmash Bros Ultimate</div>
      <div class="card-description">
        Super Smash Bros. is a fighting game developed by Nintendo®. SSB has long had a tight-knit community, and a recent charity endeavor put that to work for a good cause. The #SmashTheRecord event began just last year, when player Jason “Gahtzu” Diehl worked with two Florida gaming groups to raise money for charity by breaking the world record for “Longest Video Games Marathon Playing a Fighting Game.” That 72-hour marathon netted $14,000 for St. Jude’s Children’s Research Hospital. If you're good at Smash Bros, why not use this opportunity to play for charity?
      </div>
      <div class="card-stats">
        <div class="one-third left-third ">
          <div class="stat-name">Platforms</div>
          <div class="stat-value">Nintendo Switch</div>
        </div>
        <div class="one-third">
          <div class="stat-name">Age Requirement</div>
          <div class="stat-value">13</div>
        </div>

        <div class="one-third right-third">
          <div class="stat-name">Type</div>
          <div class="stat-value">Fighting game, Cooperative game theory, Crossover</div>
        </div>
      </div>
    </div> <!-- end of card-->



    <div class="game-card">
      <div class="card-bg">
        <img src="../../assets/games/fortnite/battle-bus.png"  alt="battle-bus">
      </div>
      <div class="card-title">Fortnite</div>
      <div class="card-description">
        Fortnite is a 100 player Battle Royale game developed by Epic Games.Fortnite has many opportunities to play for the cause of charity. Many different organizations such as Cure Rare Disease ®.If you think you're good enough to compete in these tournaments to gain money yourself and also for charity, why not give it a go? Through lots of practice, Fortnite gamers who are passionate about helping their community may be able to sign up for these kinds of tournaments.
      </div>
      <div style="height: 55px;"></div>
      <div class="card-stats">
        <div class="one-third left-third ">
          <div class="stat-name">Platforms</div>
          <div class="stat-value">Play Station, Xbox, Switch, PC/MAC, Mobile</div>          
        </div>

        <div class="one-third">
          <div class="stat-name">Age Requirement</div>
          <div class="stat-value">12</div>
        </div>

        <div class="one-third right-third">
          <div class="stat-name">Type</div>
          <div class="stat-value">Battle Royale</div>
        </div>
      </div>
    </div> <!-- end of card-->



    <div class="game-card">
      <div class="card-bg">
        <img src="../../assets/games/minecraft/minecraft-team.png" style="width: 280px; height: 230px;" alt="minecraft-team" />
      </div>
      <div class="card-title">Minecraft</div>
      <div class="card-description">
        Minecraft is a sandbox video game developed by Mojang. With the level of creativity you can do for anything in this game, comes with more opportunities. In minecraft, you can make builds, join PVP tournaments, buy cosmetics from multiplayer servers, and much more for the cause of supporting charities that matter.
      </div>
      <div style="height: 99px;"></div>
      <div class="card-stats">
        <div class="one-third left-third ">
          <div class="stat-name">Platforms</div>
          <div class="stat-value">Play Station, Xbox, Switch, PC/MAC, Mobile, Java</div>
        </div>

        <div class="one-third">
          <div class="stat-name">Age Requirement</div>
          <div class="stat-value">7</div>
        </div>

        <div class="one-third right-third">
          <div class="stat-name">Type</div>
          <div class="stat-value">Sandbox, Survival</div>
        </div>
      </div>
    </div> <!-- end of card-->



    <div class="game-card">
      <div class="card-bg">
        <img src="../../assets/games/mario-kart/mariokart-team.png" style="width: 270px; height: 260px;" alt="mariokart-team" />
      </div>
      <div class="card-title">Mario Kart</div>
      <div class="card-description">
        Mario Kart is a series of go-kart-style racing video games developed and published by Nintendo. Many people are good at racing at Mario Kart, and if you think you have what it takes to challenge them during a charity race, then go for it! You'll have the chance to show off your cool drifting skills and end up at the top!
      </div>
      <div style="height: 66px;"></div>
      <div class="card-stats">
        <div class="one-third left-third ">
          <div class="stat-name">Platforms</div>
          <div class="stat-value">Super Nintendo Entertainment System, Wii, Wii U, Nintendo Switch, New Nintendo 3DS</div>
        </div>

        <div class="one-third">
          <div class="stat-name">Age Requirement</div>
          <div class="stat-value">5</div>
        </div>

        <div class="one-third right-third">
          <div class="stat-name">Type</div>
          <div class="stat-value">Racing</div>
        </div>
      </div>
    </div> <!-- end of card-->



    <div class="game-card">
      <div class="card-bg">
        <img src="../../assets/games/warzone/cod-warzone.png" style="width: 270px; height: 220px;" alt="cod-warzone" />
      </div>
      <div class="card-title">COD Warzone</div>
      <div class="card-description">
      Call of Duty Warzone is a 150 player Battle Royale game made by Activision Blizzard. 
       The Battle Royale mode is similar to other titles in the genre where players compete in a continuously shrinking map to be the last player remaining. Players parachute onto a large game map, where they encounter other players. 
       As the game progresses and players are eliminated, the playable area shrinks forcing the remaining players into tighter spaces. With the ability
       to host private matches in Warzone, people are able to host private tournaments for charity in this game. Tournaments such as the TXT Warzone 
       tournament has brung together the community to donate to charity while having fun in Warzone.
      </div>
      <div class="card-stats">
        <div class="one-third left-third ">
          <div class="stat-name">Platforms</div>
          <div class="stat-value">Play Station, Xbox, PC</div>
        </div>

        <div class="one-third">
          <div class="stat-name">Age Requirement</div>
          <div class="stat-value">18</div>
        </div>

        <div class="one-third right-third">
          <div class="stat-name">Type</div>
          <div class="stat-value">First Person Shooter, Battle Royal Game</div>
        </div>
      </div>
    </div> <!-- end of card-->



  </div> <!-- end container -->
