.nav {
    margin: 0;
    padding: 0;
    background-color: #000;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 25px 10%;
}

.fixed-nav{
    position: fixed;
    z-index: 10;
}

 a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

.logo{
    cursor: pointer;
    max-height: 35px;
}

.nav-link{
    list-style: none;
}

.nav-link a {
    display: inline-block;
    padding: 25px 20px 0px 20px;
}

.nav-link a {
    transition: all 0.3s ease 0s;
}

.nav-link a:hover{
    color: #f54949;
}

button{
	width:120px;
	height: 40px;
	color:#ffffff;
	outline:none;
    border: none;
	border-radius: 0px;
	font-family: calibri;
	background-color:#f54949;
}

button:hover{
    background-color: #f54949;
}

.social-icons a{
	width:40px;
	height:40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color:#e6e3e3;
}

.social{
	position: fixed;
	top:50%;
	right:0px;
	transform:translateY(-50%);
    z-index: 7;
}
.social a{
	display: flex;
	justify-content: center;
	align-items: center;
	width:50px;
	height:50px;
	margin:0px;
	padding: 0px;
	line-height:0px;
	background-color:#000;	
	box-shadow:2px 2px 12px rgba(0,0,0,0.2);
}
.social a:hover{
	background-color:#f54949;
	transition:all ease 0.5s;
}
.box .imgBx img{
    min-width: 100%;
    opacity: 0.1;
    transition: 0.5;
}
.box:hover .imgBx img{
    opacity: 1;
}
.box:before{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    bottom: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -1;
}
.box:after{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    bottom: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2 ;
    filter: blur(40px);
}
.wrapper { 
    opacity: 0.99;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-image: url("../assets/gameity/gamiety-repeat.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.box:before,
.box:after
{
    background: linear-gradient(235deg,#F54949,#010615,#F54949);
}
.box:nth-child(2):before,
.box:nth-child(2)::after
{
    background: linear-gradient(235deg,#F54949,#010615,#F54949);
}
.box .content
{
    position: absolute;
    bottom: 0;
    background: rgba(0,0,0,0.4);
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: 0.5s;
}
.box:hover .content 
{
    opacity: 1;
}
p{
    font-family: 'Monsterrat'
}
.founders{
    width: 40%;
}
.img-bg{
    width: 100%;
    text-align: center;
    background-color: black;
}
@media screen and (max-width: 752px) {
    .spacing{
        height: 170px;
    }
    .wrapper{
        width: 100%;
    }
    .box .content{
        position: absolute;
        width: 80%;
        height: 75%;
        padding: 0px;
        box-sizing: border-box;
    }
    .box:hover{
       height: 850px;
    }
}