<div class = "nav fixed-nav">
    <a href=""><img class = "logo" src="../assets/gameity/gameity_logo.png"></a>
    <nav>
        <ul class = "navbar navbar-expand nav-link">
            <li><a href = "">Home</a></li>
            <li><a href = "/games">Games</a></li>
            <li><a href = "/charities">Charities</a></li>
            <li><a href = "/stats">Stats</a></li>
        </ul>
    </nav>
    <a class="cta" href="#"><button>Contact</button></a>
</div>

<!--social-attach-bar-->
<div class="social">
	<a href="#"><i class="fab fa-facebook-f"></i></a>
	<a href="#"><i class="fab fa-twitter"></i></a>
	<a href="#"><i class="fab fa-instagram"></i></a>
	<a href="#"><i class="fab fa-youtube"></i></a>
</div>

<router-outlet></router-outlet>