  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div style="min-height: 120px;"></div>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img class="view" src="../../assets/gameity-crop.png" alt="Los Angeles">
      </div>

      <div class="item">
        <img class="view" src="../../assets/val.jpg" alt="Chicago">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>

    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>

  <div class="about-container">
    <!--about-me-text-->
      <div class="about-text">
      <p>About Me</p>
      <p>Devolper & Designer</p>
      <p>Hello,My name is Touseeq Ijaz. I am a Devolper and also a Designer.If you have asany Project or if you want make a software for your bisnes conatact me.I make as soon as possibale.You really like my work,if you don&#8217;t i change this until you like I give you seticfaction result.</p>
      <p>I am a Devolper and also a Designer.If you have asany Project or if you want make a software for your bussniess conatact me.I make your project as soon as possible.</p>
      <button>Hire Me</button>
      <button>Download CV</button>
      </div>
    </div>  


<div id="main">
  <div id="body">
    <div class="wrapper">
      <div class="box">
        <div class="imgBx">
          <img src="../../assets/kevin_profile.jfif" alt="Kevin_Profile_Img">
        </div>
        <div class="content">
          <h2>Kevin Arista <br><span>Aspiring Software Engineer</span></h2>
          <p>Hello, my name is Kevin and I am currently a Junior at LAUSD/USC MAE Magnet School. Ever since I was able to read and understand numbers, my favorite subject has been math. I have developed an ambition for the subject of math and am now taking AP Calculus as a Junior. I plan to attend a four/five-year college in order to work for a major related to the STEM field such as Computer Science. To me, math is my favorite subject and engineering is just a great way to put my math skills to work. Currently, I am an aspiring software engineer who is motivated to keep thriving through the barriers of life.</p>
        </div>
      </div>
  
      <div class="box">
        <div class="imgBx">
          <img src="../../assets/mohammed_profile.jfif" alt="Kevin_Profile_Img">
        </div>
        <div class="content">
          <h2>Mohammed Amin <br><span>Aspiring Software Engineer</span></h2>
          <p>Welcome to my profile! My name is Mohammed Amin, I'm a sophomore at 32nd ST LAUSD/USC MAE Magnet School. I'm striving to become a Software Engineer in the future and expand my knowledge of all things coding. I'm currently taking part in Teen's Exploring Technology's SEALS Program. </p>
        </div>
      </div>  
    </div>
  </div>
  