<div class = "nav">
    <h3 class = "title"> CHARITIES </h3>
    <nav>
        <ul class = "navbar navbar-expand nav-link">
            <li><a href = "">Home</a></li>
            <li><a href = "/games">Games</a></li>
            <li><a href = "/charities">Charities</a></li>
            <li><a href = "/stats">Stats</a></li>
        </ul>
    </nav>
    <a class="cta" href="#"><button>Contact</button></a>
    </div>
<ul>
    <p>Extra Life</p>
    <a href="https://www.extra-life.org/index.cfm?fuseaction=cms.home"></a>
    <li>Extra Life is an organization that was created in 2008 and has currently raised over $70 USD. 
        The revenue raised is donated to the Children's Miracle Network Hospitals &reg; 
        This vast network is composed of more than 170 member hospitals across the United States and Canada. 
        These hospitals have each served more than 32 million each year!
        The doantions collected in these games fund critical treatments and health care services, pediatric medical equipment and charitable care.</li>

    <p>St. Jude Play Live</p>
    <a href="https://www.stjude.org/get-involved/other-ways/video-game-charity-event.html"></a>
    <li>Whether it's gaming, sewing, crafting, music or tabletop games, you can put your skills on display while raising funds and awareness for the lifesaving mission of St. Jude. 
        Together we've raised more than $30,000,000 for the kids of St. Jude.
        St. Jude has helped pushed the overall childhood cancer survival rate from 20% when we opened to 80% today. 
        Unite with gamers and content creators in the St. Jude PLAY LIVE global fundraising campaign to end childhood cancer.</li>

    <p>Games Done Quick</p>
    <a href="https://gamesdonequick.com/"></a>
    <li>Games Done Quick is a series of charity video game marathons. 
        These events feature high-level gameplay by speedrunners raising money for charity. 
        Teaming up with several charities in its ten-year history, Games Done Quick is currently the largest individual fundraising event globally for both Prevent Cancer Foundation and Doctors Without Borders USA.
        To date, Games Done Quick has raised over 25 million dollars for charity. 
        Our events average over 2500 people in attendance, including staff, volunteers, runners, and attendees!</li>

    <p>CharityGaming</p>
    <a href="https://www.charity-gaming.org/"></a>
    <li>Extra Life is an organization that was created in 2008 and has currently raised over $70 USD. 
        The revenue raised is donated to the Children's Miracle Network Hospitals &reg; 
        This vast network is composed of more than 170 member hospitals across the United States and Canada. 
        These hospitals have each served more than 32 million each year!
        The doantions collected in these games fund critical treatments and health care services, pediatric medical equipment and charitable care.</li>

    <p>Extra Life</p>
    <a href="https://www.extra-life.org/index.cfm?fuseaction=cms.home"></a>
    <li>Hospitals do not have a budget line to pay for expensive video game systems and games. 
        They have to spend money on providing the care, so Charity Gaming helps our children and the hospitals. 
        Charity Gaming understands that video games have the ability to make children happy and happiness is proven to lead to better outcomes for patients. 
        Video games can help heal children.</li>
</ul>