<h1>This page will contain a list of the dfferent charities.</h1>
<ul>
    <p>Extra Life</p>
    <a href="https://www.extra-life.org/index.cfm?fuseaction=cms.home"></a>
    <li>Extra Life is an organization that was created in 2008 and has currently raised over $70 USD. 
        The revenue raised is donated to the Children's Miracle Network Hospitals &reg; 
        This vast network is composed of more than 170 member hospitals across the United States and Canada. 
        These hospitals have each served more than 32 million each year!
        The doantions collected in these games fund critical treatments and health care services, pediatric medical equipment and charitable care.</li>

    <p>St. Jude Play Live</p>
    <a href="https://www.stjude.org/get-involved/other-ways/video-game-charity-event.html"></a>
    <li>Whether it's gaming, sewing, crafting, music or tabletop games, you can put your skills on display while raising funds and awareness for the lifesaving mission of St. Jude. 
        Together we've raised more than $30,000,000 for the kids of St. Jude.
        St. Jude has helped pushed the overall childhood cancer survival rate from 20% when we opened to 80% today. 
        Unite with gamers and content creators in the St. Jude PLAY LIVE global fundraising campaign to end childhood cancer.</li>

    <p>Extra Life</p>
    <a href="https://www.extra-life.org/index.cfm?fuseaction=cms.home"></a>
    <li>Extra Life is an organization that was created in 2008 and has currently raised over $70 USD. 
        The revenue raised is donated to the Children's Miracle Network Hospitals &reg; 
        This vast network is composed of more than 170 member hospitals across the United States and Canada. 
        These hospitals have each served more than 32 million each year!
        The doantions collected in these games fund critical treatments and health care services, pediatric medical equipment and charitable care.</li>

    <p>Extra Life</p>
    <a href="https://www.extra-life.org/index.cfm?fuseaction=cms.home"></a>
    <li>Extra Life is an organization that was created in 2008 and has currently raised over $70 USD. 
        The revenue raised is donated to the Children's Miracle Network Hospitals &reg; 
        This vast network is composed of more than 170 member hospitals across the United States and Canada. 
        These hospitals have each served more than 32 million each year!
        The doantions collected in these games fund critical treatments and health care services, pediatric medical equipment and charitable care.</li>

    <p>Extra Life</p>
    <a href="https://www.extra-life.org/index.cfm?fuseaction=cms.home"></a>
    <li>Extra Life is an organization that was created in 2008 and has currently raised over $70 USD. 
        The revenue raised is donated to the Children's Miracle Network Hospitals &reg; 
        This vast network is composed of more than 170 member hospitals across the United States and Canada. 
        These hospitals have each served more than 32 million each year!
        The doantions collected in these games fund critical treatments and health care services, pediatric medical equipment and charitable care.</li>
</ul>