<div class = "spacing" style="min-height: 120px;"></div>
<div class="container">
  <div class="about-container">
    <div class="about-text">
    <h1>How Can I Help?</h1>
    
    <p>Surprisingly, there are many charities that are tied to gaming. All of these charities have different functions so you can try each one out! Below you will find a list of charities that give back to the community in many ways. Either through tournaments, donations, or even live events, they provide for those in need in an outstanding effort to better the community.</p>     
  </div>
  </div>
</div>

<div class="wrapper">
  <div class="card" style="background-image: url('../../assets/orgs/st-jude/st-jude_ppl.jpg')">
    <div class="card__content">
      <a class="image-container" href="https://www.stjude.org/get-involved/other-ways/video-game-charity-event.html" target="_blank">
        <div class="container-icon">
          <div class="icon heart">
            <svg viewBox="0 -28 512.00002 512" xmlns="http://www.w3.org/2000/svg">
              <path d="m471.382812 44.578125c-26.503906-28.746094-62.871093-44.578125-102.410156-44.578125-29.554687 0-56.621094 9.34375-80.449218 27.769531-12.023438 9.300781-22.917969 20.679688-32.523438 33.960938-9.601562-13.277344-20.5-24.660157-32.527344-33.960938-23.824218-18.425781-50.890625-27.769531-80.445312-27.769531-39.539063 0-75.910156 15.832031-102.414063 44.578125-26.1875 28.410156-40.613281 67.222656-40.613281 109.292969 0 43.300781 16.136719 82.9375 50.78125 124.742187 30.992188 37.394531 75.535156 75.355469 127.117188 119.3125 17.613281 15.011719 37.578124 32.027344 58.308593 50.152344 5.476563 4.796875 12.503907 7.4375 19.792969 7.4375 7.285156 0 14.316406-2.640625 19.785156-7.429687 20.730469-18.128907 40.707032-35.152344 58.328125-50.171876 51.574219-43.949218 96.117188-81.90625 127.109375-119.304687 34.644532-41.800781 50.777344-81.4375 50.777344-124.742187 0-42.066407-14.425781-80.878907-40.617188-109.289063zm0 0"/>
            </svg>
          </div>
        </div>
      </a>
      <div class="card__content--description">
        <h3 class="roll-up">
          <span><span>S</span><span>S</span></span>
          <span><span>t</span><span>t</span></span>
          <span><span>.</span><span>.</span></span>
          <span><span>J</span><span>J</span></span>
          <span><span>u</span><span>u</span></span>
          <span><span>d</span><span>d</span></span>
          <span><span>e</span><span>e</span></span>
          <span><span>&nbsp;</span><span>&nbsp;</span></span>
          <span><span>P</span><span>P</span></span>
          <span><span>l</span><span>l</span></span>
          <span><span>a</span><span>a</span></span>
          <span><span>y</span><span>y</span></span>
          <span><span>&nbsp;</span><span>&nbsp;</span></span>
          <span><span>L</span><span>L</span></span>
          <span><span>i</span><span>i</span></span>
          <span><span>v</span><span>v</span></span>
          <span><span>e</span><span>e</span></span>
        </h3>
        <p class="text-reveal">
          <span>
            <span>St. Jude treats the most difficult childhood cancers and pediatric diseases.</span>
            <span>Whether it's gaming, sewing, crafting, music or tabletop games, you can put your skills on display while raising funds and awareness for the lifesaving mission of St. Jude. </span>
            <span>Together we've raised more than $30,000,000 for the kids of St. Jude.</span>
            <span>St. Jude has helped pushed the overall childhood cancer survival rate from 20% when we opened to 80% today.</span>
            <span>Unite with gamers and content creators in the St. Jude PLAY LIVE global fundraising campaign to end childhood cancer.</span>
          </span>
          <span>
            <span><span>St. Jude treats the most difficult childhood cancers and pediatric diseases.</span></span>
            <span><span>Whether it's gaming, sewing, crafting, music or tabletop games, you can put your skills on display while raising funds and awareness for the lifesaving mission of St. Jude. </span></span>
            <span><span>Together we've raised more than $30,000,000 for the kids of St. Jude.</span></span>
            <span><span>St. Jude has helped pushed the overall childhood cancer survival rate from 20% when we opened to 80% today.</span></span>
            <span><span>Unite with gamers and content creators in the St. Jude PLAY LIVE global fundraising campaign to end childhood cancer.</span></span>
          </span>
        </p>
      </div>
    </div>
  </div>



  <div class="card" style="background-image: url('../../assets/orgs/extra-life/extra-life_ppl.jpg');">
    <div class="card__content">
      <a class="image-container" href="https://www.extra-life.org/index.cfm?fuseaction=cms.home" target="_blank">
        <div class="container-icon">
          <div class="icon heart">
            <svg viewBox="0 -28 512.00002 512" xmlns="http://www.w3.org/2000/svg">
              <path d="m471.382812 44.578125c-26.503906-28.746094-62.871093-44.578125-102.410156-44.578125-29.554687 0-56.621094 9.34375-80.449218 27.769531-12.023438 9.300781-22.917969 20.679688-32.523438 33.960938-9.601562-13.277344-20.5-24.660157-32.527344-33.960938-23.824218-18.425781-50.890625-27.769531-80.445312-27.769531-39.539063 0-75.910156 15.832031-102.414063 44.578125-26.1875 28.410156-40.613281 67.222656-40.613281 109.292969 0 43.300781 16.136719 82.9375 50.78125 124.742187 30.992188 37.394531 75.535156 75.355469 127.117188 119.3125 17.613281 15.011719 37.578124 32.027344 58.308593 50.152344 5.476563 4.796875 12.503907 7.4375 19.792969 7.4375 7.285156 0 14.316406-2.640625 19.785156-7.429687 20.730469-18.128907 40.707032-35.152344 58.328125-50.171876 51.574219-43.949218 96.117188-81.90625 127.109375-119.304687 34.644532-41.800781 50.777344-81.4375 50.777344-124.742187 0-42.066407-14.425781-80.878907-40.617188-109.289063zm0 0"/>
            </svg>
          </div>
        </div>
      </a>
      <div class="card__content--description">
        <h3 class="roll-up">
          <span><span>E</span><span>E</span></span>
          <span><span>x</span><span>x</span></span>
          <span><span>t</span><span>t</span></span>
          <span><span>r</span><span>r</span></span>
          <span><span>a</span><span>a</span></span>
          <span><span>&nbsp;</span><span>&nbsp;</span></span>
          <span><span>L</span><span>L</span></span>
          <span><span>i</span><span>i</span></span>
          <span><span>f</span><span>f</span></span>
          <span><span>e</span><span>e</span></span>
        </h3>
        <p class="text-reveal">
          <span>
            <span>Extra Life is an organization that was created in 2008 and has currently raised over $70 Million USD. </span>
            <span>The revenue raised is donated to the Children's Miracle Network Hospitals &reg;</span>
            <span>This vast network is composed of more than 170 member hospitals across the United States and Canada. </span>
            <span>These hospitals have each served more than 32 million each year!</span>
            <span>The doantions collected in these games fund critical treatments and health care services, pediatric medical equipment and charitable care.</span>
          </span>
          <span>
            <span><span>Extra Life is an organization that was created in 2008 and has currently raised over $70 USD. </span></span>
            <span><span>The revenue raised is donated to the Children's Miracle Network Hospitals &reg;</span></span>
            <span><span>This vast network is composed of more than 170 member hospitals across the United States and Canada. </span></span>
            <span><span>These hospitals have each served more than 32 million each year!</span></span>
            <span><span>The doantions collected in these games fund critical treatments and health care services, pediatric medical equipment and charitable care.</span></span>
          </span>
        </p>
      </div>
    </div>
  </div>



  <div class="card" style="background-image: url('../../assets/orgs/games-done-quick/games-done-quick_ppl.jpg');">
    <div class="card__content">
      <a class="image-container" href="https://gamesdonequick.com/" target="_blank">
        <div class="container-icon">
          <div class="icon heart">
            <svg viewBox="0 -28 512.00002 512" xmlns="http://www.w3.org/2000/svg">
              <path d="m471.382812 44.578125c-26.503906-28.746094-62.871093-44.578125-102.410156-44.578125-29.554687 0-56.621094 9.34375-80.449218 27.769531-12.023438 9.300781-22.917969 20.679688-32.523438 33.960938-9.601562-13.277344-20.5-24.660157-32.527344-33.960938-23.824218-18.425781-50.890625-27.769531-80.445312-27.769531-39.539063 0-75.910156 15.832031-102.414063 44.578125-26.1875 28.410156-40.613281 67.222656-40.613281 109.292969 0 43.300781 16.136719 82.9375 50.78125 124.742187 30.992188 37.394531 75.535156 75.355469 127.117188 119.3125 17.613281 15.011719 37.578124 32.027344 58.308593 50.152344 5.476563 4.796875 12.503907 7.4375 19.792969 7.4375 7.285156 0 14.316406-2.640625 19.785156-7.429687 20.730469-18.128907 40.707032-35.152344 58.328125-50.171876 51.574219-43.949218 96.117188-81.90625 127.109375-119.304687 34.644532-41.800781 50.777344-81.4375 50.777344-124.742187 0-42.066407-14.425781-80.878907-40.617188-109.289063zm0 0"/>
            </svg>
          </div>
        </div>
      </a>
      <div class="card__content--description">
        <h3 class="roll-up">
          <span><span>G</span><span>G</span></span>
          <span><span>a</span><span>a</span></span>
          <span><span>m</span><span>m</span></span>
          <span><span>e</span><span>e</span></span>
          <span><span>s</span><span>s</span></span>
          <span><span>&nbsp;</span><span>&nbsp;</span></span>
          <span><span>D</span><span>D</span></span>
          <span><span>o</span><span>o</span></span>
          <span><span>n</span><span>n</span></span>
          <span><span>e</span><span>e</span></span>
          <span><span>&nbsp;</span><span>&nbsp;</span></span>
          <span><span>Q</span><span>Q</span></span>
          <span><span>u</span><span>u</span></span>
          <span><span>i</span><span>i</span></span>
          <span><span>c</span><span>c</span></span>
          <span><span>k</span><span>k</span></span>
        </h3>
        <p class="text-reveal">
          <span>
            <span>Games Done Quick is a series of charity video game marathons.</span>
            <span>These events feature high-level gameplay by speedrunners who practice many hours for that specific game such as Mario to raise money for charity.</span>
            <span> For ten years and teaming up with several charities, Games Done Quick is currently the largest individual fundraising event globally for both Prevent Cancer Foundation and Doctors Without Borders USA.</span>
            <span>These hospitals have each served more than 32 million each year!</span>
          </span>
          <span>
            <span> <span>Games Done Quick is a series of charity video game marathons.</span></span>
            <span><span>These events feature high-level gameplay by speedrunners who practice many hours for that specific game such as Mario to raise money for charity.</span></span>
            <span><span> For ten years and teaming up with several charities, Games Done Quick is currently the largest individual fundraising event globally for both Prevent Cancer Foundation and Doctors Without Borders USA.</span></span>
            <span><span>These hospitals have each served more than 32 million patients each year!</span></span>
          </span>
        </p>
      </div>
    </div>
  </div>


  
  <div class="card" style="background-image: url('../../assets/orgs/charitygaming/charity-gaming_ppl.jpg');">
    <div class="card__content">
      <a class="image-container" href="https://www.charity-gaming.org/" target="_blank">
        <div class="container-icon">
          <div class="icon heart">
            <svg viewBox="0 -28 512.00002 512" xmlns="http://www.w3.org/2000/svg">
              <path d="m471.382812 44.578125c-26.503906-28.746094-62.871093-44.578125-102.410156-44.578125-29.554687 0-56.621094 9.34375-80.449218 27.769531-12.023438 9.300781-22.917969 20.679688-32.523438 33.960938-9.601562-13.277344-20.5-24.660157-32.527344-33.960938-23.824218-18.425781-50.890625-27.769531-80.445312-27.769531-39.539063 0-75.910156 15.832031-102.414063 44.578125-26.1875 28.410156-40.613281 67.222656-40.613281 109.292969 0 43.300781 16.136719 82.9375 50.78125 124.742187 30.992188 37.394531 75.535156 75.355469 127.117188 119.3125 17.613281 15.011719 37.578124 32.027344 58.308593 50.152344 5.476563 4.796875 12.503907 7.4375 19.792969 7.4375 7.285156 0 14.316406-2.640625 19.785156-7.429687 20.730469-18.128907 40.707032-35.152344 58.328125-50.171876 51.574219-43.949218 96.117188-81.90625 127.109375-119.304687 34.644532-41.800781 50.777344-81.4375 50.777344-124.742187 0-42.066407-14.425781-80.878907-40.617188-109.289063zm0 0"/>
            </svg>
          </div>
        </div>
      </a>
      <div class="card__content--description">
        <h3 class="roll-up">
          <span><span>C</span><span>C</span></span>
          <span><span>h</span><span>h</span></span>
          <span><span>a</span><span>a</span></span>
          <span><span>r</span><span>r</span></span>
          <span><span>i</span><span>i</span></span>
          <span><span>t</span><span>t</span></span>
          <span><span>y</span><span>y</span></span>
          <span><span>G</span><span>G</span></span>
          <span><span>a</span><span>a</span></span>
          <span><span>m</span><span>m</span></span>
          <span><span>i</span><span>i</span></span>
          <span><span>n</span><span>n</span></span>
          <span><span>g</span><span>g</span></span>
          
        </h3>
        <p class="text-reveal">
          <span>
            <span>Charity Gaming is a nonprofit organization that provides video games to children in need at hospitals</span>
            <span>These hospitals don't have the money to pay for expensive video game systems and games. </span>
            <span>Since they spend money on providing the care, Charity Gaming helps the children and the hospitals by being a helpful resource.</span>
            <span> Charity Gaming understands that video games have the ability to make children happy and happiness is proven to lead to better outcomes for patients. </span>
          </span>
          <span>
            <span><span>Charity Gaming is a nonprofit organization that provides video games to children in need at hospitals.</span></span>
            <span><span>These hospitals don't have the money to pay for expensive video game systems and games.</span></span>
            <span><span>Since they spend money on providing the care, Charity Gaming helps the children and the hospitals by being a helpful resource.</span></span>
            <span><span> Charity Gaming understands that video games have the ability to make children happy and happiness is proven to lead to better outcomes for patients.</span></span>
    
          </span>
        </p>
      </div>
    </div>
  </div>


  
  <div class="card" style="background-image: url('../../assets/orgs/the-ablegamers/the-ablegamers-charity_ppl.jfif');">
    <div class="card__content">
      <a class="image-container" href="https://ablegamers.org/" target="_blank">
        <div class="container-icon">
            <div class="icon heart">
              <svg viewBox="0 -28 512.00002 512" xmlns="http://www.w3.org/2000/svg">
                <path d="m471.382812 44.578125c-26.503906-28.746094-62.871093-44.578125-102.410156-44.578125-29.554687 0-56.621094 9.34375-80.449218 27.769531-12.023438 9.300781-22.917969 20.679688-32.523438 33.960938-9.601562-13.277344-20.5-24.660157-32.527344-33.960938-23.824218-18.425781-50.890625-27.769531-80.445312-27.769531-39.539063 0-75.910156 15.832031-102.414063 44.578125-26.1875 28.410156-40.613281 67.222656-40.613281 109.292969 0 43.300781 16.136719 82.9375 50.78125 124.742187 30.992188 37.394531 75.535156 75.355469 127.117188 119.3125 17.613281 15.011719 37.578124 32.027344 58.308593 50.152344 5.476563 4.796875 12.503907 7.4375 19.792969 7.4375 7.285156 0 14.316406-2.640625 19.785156-7.429687 20.730469-18.128907 40.707032-35.152344 58.328125-50.171876 51.574219-43.949218 96.117188-81.90625 127.109375-119.304687 34.644532-41.800781 50.777344-81.4375 50.777344-124.742187 0-42.066407-14.425781-80.878907-40.617188-109.289063zm0 0"/>
              </svg>
            </div>
          </div>
      </a>
      <div class="card__content--description">
        <h3 class="roll-up">
          <span><span>T</span><span>T</span></span>
          <span><span>h</span><span>h</span></span>
          <span><span>e</span><span>e</span></span>
          <span><span>&nbsp;</span><span>&nbsp;</span></span>
          <span><span>A</span><span>A</span></span>
          <span><span>b</span><span>b</span></span>
          <span><span>l</span><span>l</span></span>
          <span><span>e</span><span>e</span></span>
          <span><span>G</span><span>G</span></span>
          <span><span>a</span><span>a</span></span>
          <span><span>m</span><span>m</span></span>
          <span><span>e</span><span>e</span></span>
          <span><span>r</span><span>r</span></span>
          <span><span>s</span><span>s</span></span>
        </h3>
        <p class="text-reveal">
          <span>
            <span>The AbleGamers organization gives people with disabilities custom gaming setups including modified controllers and special assistive technology</span>
            <span>like devices that let you play with your eyes, so they can have fun with their friends and family.</span>
            <span> They use the power of video games to bring people together, improving quality of life with recreation and rehabilitation.</span>
            <span>They create a world where your disability does not define who you are, where you can be anything you want to be.</span>
            <span>Videogames allow people to run, jump, and fly.</span>
          </span>
          <span>
            <span><span>The AbleGamers organization gives people with disabilities custom gaming setups including modified controllers and special assistive technology</span></span>
            <span><span>like devices that let you play with your eyes, so they can have fun with their friends and family.</span></span>
            <span><span>They use the power of video games to bring people together, improving quality of life with recreation and rehabilitation.</span></span>
            <span><span>They create a world where your disability does not define who you are, where you can be anything you want to be.</span></span>
            <span><span> Videogames allow people to run, jump, and fly.</span></span>
          </span>
        </p>
      </div>
    </div>
  </div>



  <div class="card" style="background-image: url('../../assets/orgs/gamers-outreach/gamers-outreach_ppl.jpg')">
    <div class="card__content">
      <a class="image-container" href="https://www.stjude.org/get-involved/other-ways/video-game-charity-event.html" target="_blank">
        <div class="container-icon">
          <div class="icon heart">
            <svg viewBox="0 -28 512.00002 512" xmlns="http://www.w3.org/2000/svg">
              <path d="m471.382812 44.578125c-26.503906-28.746094-62.871093-44.578125-102.410156-44.578125-29.554687 0-56.621094 9.34375-80.449218 27.769531-12.023438 9.300781-22.917969 20.679688-32.523438 33.960938-9.601562-13.277344-20.5-24.660157-32.527344-33.960938-23.824218-18.425781-50.890625-27.769531-80.445312-27.769531-39.539063 0-75.910156 15.832031-102.414063 44.578125-26.1875 28.410156-40.613281 67.222656-40.613281 109.292969 0 43.300781 16.136719 82.9375 50.78125 124.742187 30.992188 37.394531 75.535156 75.355469 127.117188 119.3125 17.613281 15.011719 37.578124 32.027344 58.308593 50.152344 5.476563 4.796875 12.503907 7.4375 19.792969 7.4375 7.285156 0 14.316406-2.640625 19.785156-7.429687 20.730469-18.128907 40.707032-35.152344 58.328125-50.171876 51.574219-43.949218 96.117188-81.90625 127.109375-119.304687 34.644532-41.800781 50.777344-81.4375 50.777344-124.742187 0-42.066407-14.425781-80.878907-40.617188-109.289063zm0 0"/>
            </svg>
          </div>
        </div>
      </a>
      <div class="card__content--description">
        <h3 class="roll-up">
          <span><span>G</span><span>G</span></span>
          <span><span>a</span><span>a</span></span>
          <span><span>m</span><span>m</span></span>
          <span><span>e</span><span>e</span></span>
          <span><span>r</span><span>r</span></span>
          <span><span>s</span><span>s</span></span>
          <span><span>&nbsp;</span><span>&nbsp;</span></span>
          <span><span>O</span><span>O</span></span>
          <span><span>u</span><span>u</span></span>
          <span><span>t</span><span>t</span></span>
          <span><span>r</span><span>r</span></span>
          <span><span>e</span><span>e</span></span>
          <span><span>a</span><span>a</span></span>
          <span><span>c</span><span>c</span></span>
          <span><span>h</span><span>h</span></span>
        </h3>
        <p class="text-reveal">
          <span>
            <span>Gamers Outreach is an organization that was founded in 2007 and has provided equipment, technology, and software to help kids cope with treatment inside hospitals.</span>
            <span>Undergoing medical treatment can often be a scary and isolating experience, especially for young people.</span>
            <span>Their focus is to support kids and teens throughout the healing process as they undergo treatment in hospitals.</span>
            <span>They raise money to equip nurses and child life specialists with the means to make activities and technology accessible.</span>
            <span>Ultimately, their goal is to create sustainable experiences that produce joy and minimize trauma for patients.</span>
          </span>
          <span>
            <span><span>Gamers Outreach is an organization that was founded in 2007 and has provided equipment, technology, and software to help kids cope with treatment inside hospitals.</span></span>
            <span><span>Undergoing medical treatment can often be a scary and isolating experience, especially for young people.</span></span>
            <span><span>Their focus is to support kids and teens throughout the healing process as they undergo treatment in hospitals.</span></span>
            <span><span>They raise money to equip nurses and child life specialists with the means to make activities and technology accessible.</span></span>
            <span><span>Ultimately, their goal is to create sustainable experiences that produce joy and minimize trauma for patients.</span></span>
          </span>
        </p>
      </div>
    </div>
  </div>
  
</div>

